section > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 30px 40px;
}

section > div > div {
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 35px;
    background-color: white;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    transition: border 0.3s, background-color 0.3s;
}

section > div > div:hover {
    border: 2px solid tomato;
}

section > div > div > img {
    width: 100%;
    border-radius: 35px;
}

section > div > div > p {
    margin: 5px 0;
}

section > div > div > p.price {
    font-size: 1.5em; /* Увеличение размера шрифта для цены */
}

section > div > div > p.dish-name {
    font-size: 1.5em; /* Увеличение размера шрифта для названия блюда */
}

section > div > div > p.dish-weight {
    color: gray; /* Изменение цвета текста на серый для веса/объема */
}

section > div > div > button {
    background-color: #f1eee9;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: auto; /* Сдвигаем кнопку вниз */
    transition: background-color 0.3s;
}

section > div > div > button:hover {
    text-decoration: none;
    background-color: #cbd32f;
}

section > div > div > button:active {
    text-decoration: none;
    background-color: #4CAF50;
}

p.note {
    font-style: italic;
    font-size: 14px;
    margin-bottom: 14px;
}

legend {
    font-size: 20px;
    margin-bottom: 14px;
}

form {
    display: flex;
    justify-content: space-between;
}

fieldset {
    width: 45%;
    border: none;
    margin-left: auto;
    margin-right: auto;
}

input, select, textarea {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
} */

.filter {
    margin: 0 10px;
    font-size: 18px;
    color: #6b6b6b;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.filter:hover {
    color: #4caf50;
    font-weight: bold;
}

.filter.active {
    color: #4caf50;
    font-weight: bold;
}

/* Адаптивность */
@media (max-width: 800px) {
    section > div {
        grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    }

    nav {
        flex-direction: column;
        align-items: center; /* Центрируем элементы в навигации */
    }

    nav a {
        font-size: 12px; /* Увеличиваем шрифт на 4px */
    }
}

@media (max-width: 600px) {
    section > div {
        grid-template-columns: repeat(1, 1fr); /* 1 колонка */
    }

    h1 {
        text-align: center; /* Центрирование заголовков */
    }

    section > h2 {
        text-align: center; /* Центрирование заголовков */
    }
}